@page
@model MascotaFeliz.App.Frontend.Pages.ListaMascotasModel
@{
}
<h1 class="text-center mt-5">Listado de Mascotas</h1>
<table class=" table table-striped table-bordered table-sm bg-light mt-3">
     <tr class="text-center">
            <th >Nombre</th>
            <th >Color</th>
            <th >Raza</th>
            <th >Especie</th>
            <th></th>
            <th></th>
            
            
        </tr>
    @foreach (var mascota in Model.listaMascotas)
    {
        <tr class="text-center">
            <td>@mascota.Nombre</td>
            <td>@mascota.Color</td>
            <td>@mascota.Raza</td>
            <td>@mascota.Especie</td>
            
           
            

            <td>
                    <a class="btn btn-primary table-btn" asp-page="./DetallesMascotas" asp-route-mascotaId="@mascota.Id">
                        <i class="fa-regular fa-address-card"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary table-btn" asp-page="./EditarMascotas" asp-route-mascotaId="@mascota.Id">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                </td>

        </tr>
        
    }

</table>

 <a class="btn btn-primary table-btn" asp-page="./EditarMascotas" class="btn-default"><i class="fa-solid fa-user-plus"></i></a>
